<?php $_product = $block->getProduct() ?>
<?php $image = $block->getImage($_product, 'category_page_list'); ?>

<div class="modal fade modal--default modal--order" tabindex="-1" role="dialog" id="modal-order">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"> <button type="button" class="btn-unstyled btn--close" data-dismiss="modal"><i class="icon icon-close"></i></button>
                <h4 class="title-2"><?php echo __('Quick Order')?></h4>
            </div>
            <div class="modal-body">
                <!-- form-order -->
                <!-- /components/form-order -->
                <div class="form--order">
                    <form action="<?php echo $this->getUrl('quickorder/index/index'); ?>" method="post">
                        <!-- product-preview -->
                        <!-- /components/product-preview -->
                        <input type="hidden" name="productId" value="<?php echo $_product->getId(); ?>" />
                        <div class="product-preview">
                            <div class="container">
                                <div class="item-columns clearfix">
                                    <div class="column column-left">
                                        <div class="column-img">
                                            <div class="img-centered"> <img src="<?php echo $image->getImageUrl(); ?>" class="img-fluid" /> </div>
                                        </div>
                                        <div class="column-in">
                                            <div class="item-title text--black text-ellipsis"><?php echo $_product->getName(); ?></div>
                                            <div class="item-meta">
                                                <div><label><?php echo __('Status:')?></label> <b><?php echo $_product->isAvailable() ? __('In Stock') : __('Not In Stock'); ?></b></div>
                                                <div><label><?php echo __('SKU:')?></label> <b><?php echo $_product->getSku(); ?></b></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column column-right">
                                        <div class="item-order">
                                            <div>
                                                <!-- math-item -->
                                                <!-- /components/math-item -->
                                                <div class="math-item">
                                                    <button type="button" class="btn btn--math btn--minus">
                                                        <i class="icon icon--centered icon-minus"></i>
                                                    </button>
                                                    <input type="text" name="qty" id="quickQty" class="form-control inp--math" value="1" readonly />
                                                    <button type="button" class="btn btn--math btn--plus">
                                                        <i class="icon icon--centered icon-plus"></i>
                                                    </button>
                                                </div>
                                                <!-- /math-item -->
                                            </div>
                                            <div>
                                                <?php /* @escapeNotVerified */ echo $block->getProductPrice($_product); ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /product-preview -->
                        <div class="form-body">
                            <div class="form-in">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <h4 class="title-3"><?php echo __('City:')?>:
                                            <?php echo $this->getChildHtml('location.list'); ?>
                                        </h4>
                                        <input type="hidden" id="cityvalue" name="city" value="" />
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="form-groups">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="controls"> <input type="text" name="firstname" class="form-control" placeholder="Name" required /> </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <div class="controls"> <input type="text" name="phone" class="form-control" placeholder="Phone" data-mask="+7 (999) 999-99-99" required /> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-in">
                                <div class="form-controls">
                                    <div class="row">
                                        <div class="col-xs-4"> <button type="submit" class="btn btn--green btn--largest btn--block btn--submit"><?php echo __('Submit')?></button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /form-order -->
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
	{
		"*": {
		    "Alser_QuickOrder/js/quickorder": {}
		}
	}
</script>
